<!DOCTYPE html>
<html lang="en" ng-app="myExampleApp">
	<head>
		<meta charset="utf-8"/>
		<title>Step 3</title>
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"></link>
		<script src="../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="../bower_components/angularjs/angular.min.js"></script>
		<script src="./js/app.js"></script>
		<script src="./js/controllers.js"></script>
	</head>
	<body ng-controller="MainCtrl" >
		<div class="container">
			<div class="page-header">
				<h1> Some Text </h1>
			</div>
		
			<input ng-model="searchText"/>
			<div ng-repeat="person in people |filter:{ firstname: searchText }">
			<h3 ng-click="alertName(person)">{{ person.firstname }} {{ person.surname }}</h3>
			<ul>
			<li> age: {{ person.age }} </li>
			<li> occupation {{ person.occupation }}
			</ul>
			</div>
			
			<div>
				<a href="#">facebook</a>
				<a href="#">twitter</a>
				<a href="#">google plus</a>
			</div>
		</div>
	</body>
</html>